# -----------------------------
# Python cache / compiled files
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual environments
# -----------------------------
venv/
.env/
.venv/
env/
ENV/